@using ReallySimpleFeatureToggle.Web.Mvc
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Really Simple Feature Toggle</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@@{ RenderPartialFeature() }</h2>
        <p>
            @{
                Html.RenderPartialFeature("EnabledFeature", "SomeFeature");
                Html.RenderPartialFeature("DisabledFeature", "SomeFeature");
                Html.RenderPartialFeature("EnabledFor50Percent", "SomeFeature");
            }
        </p>
    </div>
    <div class="col-md-6">
        <h2>@@Html.PartialFeature()</h2>
        <p>
            @Html.PartialFeature("EnabledFeature", "SomeFeature")
            @Html.PartialFeature("DisabledFeature", "SomeFeature")
            @Html.PartialFeature("EnabledFor50Percent", "SomeFeature")
        </p>
    </div>
    <div class="col-md-6">
        <h2>@@{ RenderActionFeature() }</h2>
        <p>
            @{
                Html.RenderActionFeature("EnabledFeature", "SomeActionForRenderAction");
                Html.RenderActionFeature("DisabledFeature", "SomeActionForRenderAction");
                Html.RenderActionFeature("EnabledFor50Percent", "SomeActionForRenderAction");
            }
        </p>
    </div>
    <div class="col-md-6">
        <h2>@@Html.ActionFeature()</h2>
        <p>
            @Html.ActionFeature("EnabledFeature", "SomeActionForRenderAction")
            @Html.ActionFeature("DisabledFeature", "SomeActionForRenderAction")
            @Html.ActionFeature("EnabledFor50Percent", "SomeActionForRenderAction")
        </p>
    </div>
</div>